@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center mb-4">Варіант 9</h3>
            <p>
                Файл "Завод" має наступну структуру: код працівника, прізвище, стать, номер цеху, посада, стаж, оклад.
            </p>
            <p>
                Файл "Премія" має наступну структуру: код, премія.
            </p>
            <p>
                Розв’язати наступні задачі:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol>
                <li>
                    Після авторизації користувача надати йому можливість вивести вміст файлів на окремі web-сторінки.
                </li>
                <li>
                    Вивести кількість посад працівниць, які мають премію.
                </li>
                <li>
                    Для кожного цеху вивести максимальну зарплату (оклад + сумарна премія) його працівників,
                    стаж яких потрапляє у межі від 10 до 20.
                </li>
            </ol>
        </div>
    </div>
</div>
