@page
@model Lab3.Pages.Task1Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>task1</title>
</head>
<body>
    <h1>Завдання 1</h1>

    <h2>Кількість посад жіночих працівників з премією: @Model.FactoryViewModel.FemaleEmployeesWithBonusCount</h2>

</body>
</html>