@page
@model lab3.Pages.Task2Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>task2</title>
</head>
<body>
    <h1>Завдання 2</h1>

    <h2>Максимальна зарплата для кожного цеху працівників з стажем роботи 10-20 років:</h2>
    @foreach (var department in Model.FactoryViewModel.MaxSalaryByDepartment)
    {
        <li>Цех @department.Key: @department.Value</li>
    }

</body>
</html>